* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100svh;
  background-color: gray;
}

.etch-a-sketch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  height: 50vh;
  width: 50vh;
  background-color: white;
  overflow: hidden;
}

.square {
  background-color: black;
}